# Data Analysis on Vacation Data

### In this analysis we are going to describe the behaviour of multiple vacation plans.

### import required libraries

In [2]:
# import pandas as pd
import pandas as pd

# import numpy

import numpy as np

# import matplotlib

import matplotlib.pyplot as plt

# import seaborn

import seaborn as sns

print(np.__version__)

2.2.2

# Load the Data

In [4]:
# Load the data file we have in folder

df_vacation_data = pd.read_excel("vacation data.xlsx")

# Data Overview

In [7]:
print(df_vacation_data.head())

   Gender  Age  Education                  Occupation State  \
0  Female   25        6.0  Clerical or service worker   VIC
1  Female   31        8.0                professional    WA
2    Male   21        3.0                         NaN   NSW
3  Female   18        2.0                  unemployed   NSW
4    Male   61        3.0                     retired    WA

  Relationship_Status  Obligation_Rating Obligation_Category       NEP  \
0              single           4.800000                  Q4  3.200000
1             married           3.300000                  Q1  3.400000
2              single           3.400000                  Q2  3.066667
3              single           2.633333                  Q1  3.400000
4             married           3.400000                  Q2  3.733333

   Vacation_Behaviour  ... Life_style_of_the_local_people  \
0            2.066667  ...                             no
1            2.000000  ...                            yes
2            1.233333  ...                            yes
3            2.166667  ...                             no
4            1.724138  ...                            yes

  Intense_Experience_of_Nature Cosiness_or_Familiar_Atmosphere  \
0                           no                              no
1                           no                              no
2                           no                             yes
3                          yes                              no
4                           no                              no

  Maintain_Unspoilt_Surroundings Everything_Organised  \
0                             no                   no
1                             no                   no
2                             no                   no
3                             no                   no
4                            yes                   no

  Unspoilt_Nature_or_Natural_Landscape Cultural_Offers Change_of_Surroundings  \
0                                   no              no                     no
1                                   no              no                    yes
2                                   no             yes                     no
3                                   no              no                    yes
4                                   no              no                     no

  Income_Doller_k Expenditure_Doller_k
0            15.0                 39.0
1            15.0                 81.0
2            16.0                  6.0
3            16.0                 77.0
4            17.0                 40.0

[5 rows x 32 columns]