# Data Analysis on Vacation Data

### In this analysis we are going to describe the behaviour of multiple vacation plans.

### import required libraries

In [3]:
# import pandas as pd
import pandas as pd

# import numpy

import numpy as np

# import matplotlib =>

import matplotlib.pyplot as plt

# import seaborn

import seaborn as sns

print(np.__version__)

2.2.2

# Load the Data

In [4]:
# Load the data file we have in folder

df_vacation_data = pd.read_excel("vacation data.xlsx")

# Data Overview

In [5]:
print(df_vacation_data.head())

   Gender  Age  Education                  Occupation State  \
0  Female   25        6.0  Clerical or service worker   VIC
1  Female   31        8.0                professional    WA
2    Male   21        3.0                         NaN   NSW
3  Female   18        2.0                  unemployed   NSW
4    Male   61        3.0                     retired    WA

  Relationship_Status  Obligation_Rating Obligation_Category       NEP  \
0              single           4.800000                  Q4  3.200000
1             married           3.300000                  Q1  3.400000
2              single           3.400000                  Q2  3.066667
3              single           2.633333                  Q1  3.400000
4             married           3.400000                  Q2  3.733333

   Vacation_Behaviour  ... Life_style_of_the_local_people  \
0            2.066667  ...                             no
1            2.000000  ...                            yes
2            1.233333  ...                            yes
3            2.166667  ...                             no
4            1.724138  ...                            yes

  Intense_Experience_of_Nature Cosiness_or_Familiar_Atmosphere  \
0                           no                              no
1                           no                              no
2                           no                             yes
3                          yes                              no
4                           no                              no

  Maintain_Unspoilt_Surroundings Everything_Organised  \
0                             no                   no
1                             no                   no
2                             no                   no
3                             no                   no
4                            yes                   no

  Unspoilt_Nature_or_Natural_Landscape Cultural_Offers Change_of_Surroundings  \
0                                   no              no                     no
1                                   no              no                    yes
2                                   no             yes                     no
3                                   no              no                    yes
4                                   no              no                     no

  Income_Doller_k Expenditure_Doller_k
0            15.0                 39.0
1            15.0                 81.0
2            16.0                  6.0
3            16.0                 77.0
4            17.0                 40.0

[5 rows x 32 columns]

In [6]:
# Show the shape of the Data

df_vacation_data.shape

(1000, 32)

In [7]:
# Make a small program utilised for adding two numbers

# defining inputs and variables 
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

# user define function to add two numbers
def add(x,y):
    # using self to use variable from parameters
    print(f"First Number: {x}")
    print(f"Second Number: {y}")
    # returning addition of both number directly
    return x+y

print(f"Addition: {add(a,b)}")

First Number: 4
Second Number: 5
Addition: 9

In [8]:
# Make a small program utilised for adding two numbers


# user define function to add two numbers
def add():
    # defining inputs and variables 
    x = int(input("Enter First Number: "))
    y = int(input("Enter Second Number: "))
    # using self to use variable from parameters
    print(f"First Number: {x}")
    print(f"Second Number: {y}")
    # returning addition of both number directly
    return x+y

print(f"Addition: {add()}")

First Number: 4
Second Number: 5
Addition: 9

**Interpretation**
 - we have 1000 observations(Rows)
 - we have 32 attributes (Columns)

In [ ]:
# Show the basic info of the data

# number of attributes that a  nnumerical and categorical
# data inconsistencies
# memory usage for data processing

df_vacation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 32 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Gender                                1000 non-null   object
 1   Age                                   1000 non-null   int64
 2   Education                             992 non-null    float64
 3   Occupation                            941 non-null    object
 4   State                                 1000 non-null   object
 5   Relationship_Status                   996 non-null    object
 6   Obligation_Rating                     1000 non-null   float64
 7   Obligation_Category                   1000 non-null   object
 8   NEP                                   1000 non-null   float64
 9   Vacation_Behaviour                    975 non-null    float64
 10  Rest_and_relax                        1000 non-null   object
 11  Luxury_be spoilt                      1000 non-null   object
 12  Do_sports                             1000 non-null   object
 13  excitement_a_challenge                1000 non-null   object
 14  Not_exceed_planned_budget             1000 non-null   object
 15  Realise_creativity                    1000 non-null   object
 16  Fun_and_entertainment                 1000 non-null   object
 17  Good_company                          1000 non-null   object
 18  Health_and_beauty                     1000 non-null   object
 19  Free_and_easy_going                   1000 non-null   object
 20  Entertainment_facilities              1000 non-null   object
 21  Not_care_about_prices                 1000 non-null   object
 22  Life_style_of_the_local_people        1000 non-null   object
 23  Intense_Experience_of_Nature          1000 non-null   object
 24  Cosiness_or_Familiar_Atmosphere       1000 non-null   object
 25  Maintain_Unspoilt_Surroundings        1000 non-null   object
 26  Everything_Organised                  1000 non-null   object
 27  Unspoilt_Nature_or_Natural_Landscape  1000 non-null   object
 28  Cultural_Offers                       1000 non-null   object
 29  Change_of_Surroundings                1000 non-null   object
 30  Income_Doller_k                       200 non-null    float64
 31  Expenditure_Doller_k                  200 non-null    float64
dtypes: float64(6), int64(1), object(25)
memory usage: 250.1+ KB

**Interpretation**

 - we have total 7 numerical columns and 25 categorical columns
 - memory usage is 250.1+ kb that means we do not require extra resources
 - After observing the output we can say that there are missing records in Data

In [ ]:
# justify the basic statistics of the data

df_vacation_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1000.0,44.168000,14.539228,18.000000,32.000000,42.000000,57.000000,105.0
Education,992.0,4.813508,2.422252,1.000000,3.000000,6.000000,7.000000,8.0
Obligation_Rating,1000.0,3.734767,0.635777,1.000000,3.366667,3.800000,4.200000,5.0
NEP,1000.0,3.648600,0.561135,1.733333,3.266667,3.666667,4.066667,5.0
Vacation_Behaviour,975.0,2.962800,0.668347,1.233333,2.466667,2.944444,3.428571,4.9
Income_Doller_k,200.0,60.560000,26.264721,15.000000,41.500000,61.500000,78.000000,137.0
Expenditure_Doller_k,200.0,50.200000,25.823522,1.000000,34.750000,50.000000,73.000000,99.0